<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currencies</key>
	<array>
        <dict>
            <key>name</key>
            <string>Tether</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/825.png</string>
            <key>code</key>
            <string>USDT</string>
        </dict>
        <dict>
            <key>name</key>
            <string>USD Coin</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/3408.png</string>
            <key>code</key>
            <string>USDC</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Uniswap</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/7083.png</string>
            <key>code</key>
            <string>UNI</string>
        </dict>
        <dict>
            <key>name</key>
            <string>TrueUSD</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/2563.png</string>
            <key>code</key>
            <string>TUSD</string>
        </dict>
        <dict>
            <key>name</key>
            <string>TRON</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/1958.png</string>
            <key>code</key>
            <string>TRX</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Toncoin</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/11419.png</string>
            <key>code</key>
            <string>TON</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Solana</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/5426.png</string>
            <key>code</key>
            <string>SOL</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Polygon</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/3890.png</string>
            <key>code</key>
            <string>MATIC</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Dai</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/4943.png</string>
            <key>code</key>
            <string>DAI</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Aave</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/7278.png</string>
            <key>code</key>
            <string>AAVE</string>
        </dict>
		<dict>
			<key>name</key>
			<string>Bitcoin</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/1.png</string>
			<key>code</key>
			<string>BTC</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ETH</string>
			<key>name</key>
			<string>Ethereum</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/1027.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>XRP</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/52.png</string>
			<key>code</key>
			<string>XRP</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BNB</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/1839.png</string>
			<key>code</key>
			<string>BNB</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cardano</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/2010.png</string>
			<key>code</key>
			<string>ADA</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dogecoin</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/74.png</string>
			<key>code</key>
			<string>DOGE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Avalanche</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/5805.png</string>
			<key>code</key>
			<string>AVAX</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Polkadot</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/6636.png</string>
			<key>code</key>
			<string>DOT</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chainlink</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/1975.png</string>
			<key>code</key>
			<string>LINK</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shiba Inu</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/5994.png</string>
			<key>code</key>
			<string>SHIB</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Litecoin</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/2.png</string>
			<key>code</key>
			<string>LTC</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bitcoin Cash</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/1831.png</string>
			<key>code</key>
			<string>BCH</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cosmos</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/3794.png</string>
			<key>code</key>
			<string>ATOM</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pepe</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/24478.png</string>
			<key>code</key>
			<string>PEPE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>PancakeSwap</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/7186.png</string>
			<key>code</key>
			<string>CAKE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Curve DAO</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/6538.png</string>
			<key>code</key>
			<string>CRV</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SushiSwap</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/6758.png</string>
			<key>code</key>
			<string>SUSHI</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Compound</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/5692.png</string>
			<key>code</key>
			<string>COMP</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Maker</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/1518.png</string>
			<key>code</key>
			<string>MKR</string>
		</dict>
	</array>
</dict>
</plist>
