<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currencies</key>
	<array>
        <dict>
            <key>name</key>
            <string>Tether</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/825.png</string>
            <key>code</key>
            <string>USDT</string>
        </dict>
        <dict>
            <key>name</key>
            <string>USD Coin</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/3408.png</string>
            <key>code</key>
            <string>USDC</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Uniswap</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/7083.png</string>
            <key>code</key>
            <string>UNI</string>
        </dict>
        <dict>
            <key>name</key>
            <string>TrueUSD</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/2563.png</string>
            <key>code</key>
            <string>TUSD</string>
        </dict>
        <dict>
            <key>name</key>
            <string>TRON</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/1958.png</string>
            <key>code</key>
            <string>TRX</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Toncoin</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/11419.png</string>
            <key>code</key>
            <string>TON</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Solana</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/5426.png</string>
            <key>code</key>
            <string>SOL</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Polygon</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/3890.png</string>
            <key>code</key>
            <string>MATIC</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Dai</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/4943.png</string>
            <key>code</key>
            <string>DAI</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Aave</string>
            <key>imageUrl</key>
            <string>https://s2.coinmarketcap.com/static/img/coins/64x64/7278.png</string>
            <key>code</key>
            <string>AAVE</string>
        </dict>
		<dict>
			<key>name</key>
			<string>Bitcoin</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/1.png</string>
			<key>code</key>
			<string>BTC</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ETH</string>
			<key>name</key>
			<string>Ethereum</string>
			<key>imageUrl</key>
			<string>https://s2.coinmarketcap.com/static/img/coins/64x64/1027.png</string>
		</dict>
	</array>
</dict>
</plist>
